:root{
 --color-brand-green: #89b578;
 --color-brand-gold:gold;
 --color-brand-brown:brown;
 --primary-light:white;
 --color-black: black;
}




/*Base*/
body{
    color:var(--color-black);

}


ul {
    list-style-type: none;
}

/*button*/

.button {
   color:var(--primary-light);
   background-color:var(--color-brand-green);
   border:2px solid var(--color-brand-green);
   border-radius: 8px;
   cursor:pointer;

}
/*.button:hover{
    color:#465929;
    background-color: transparent;
}*/



.button{
  color:var(--color-brand-brown);
}
/*Link*/
.link{
    color:var(--primary-light);
}
.link:hover{
    color:var(--color-brand-gold);
}
/*Hero-section*/
.hero-title {
    color:var(--primary-light);

}
.hero-title .accent {
    color:var(--color-brand-grren);/*HEX value*/
}
/*Adventages section*/
.adventages-list{
    color:#faf4ea;
    background-color:var(--color-brand-green) ;
}

.section-title .accent{
    color:var(--color-brand-green);

}
